#appbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 12%;
  width: 100%;
  background-color: lightblue;
  opacity: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  z-index: 1;
  font-family: "Lucida Sans";
}
h2 {
  font-family: "Lucida Sans";
  font-size: larger;
}



#appbar_child {
  position: fixed;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  background-color: lightblue;
  opacity: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 0px;
  z-index: 1;
  font-family: "Lucida Sans";
}

#theme {
  margin-bottom: 0%; /* Add margin-bottom to move nameTag closer to the buttons */
  font-family: "Lucida Sans";
}

#navigation {
  display: flex;
  height: 35%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
