footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 99%;
  background-color: lightblue;
  opacity: 100%;
  color: black;
  display: flex;
  margin-left: 0.5%;
  padding: 0px;
  justify-content: center;
}

button[type="footer"] {
  margin-top: 9px; 
  margin-bottom: 9px;
  margin-left: 10px;
  margin-right: 10px;
  width: 125px;
  border-style: none;
  transition: all 0.3s ease-in-out; 
}
button[type="logout"] {
  margin: auto;
  height: 70%;
  width: 125px;
  border-style: none;
  transition: all 0.3s ease-in-out;
}

footer button:hover {
  background-color: darkgrey;
  color: white
}

