footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 12%;
  width: 100%;
  background-color: lightblue;
  opacity: 100%;
  color: black;
  display: flex;
  padding: 0px;
  justify-content: center;
  font-family: "Lucida Sans";
}

button[type="footer"] {
  margin: auto;
  height: 60%;
  width: 20%;
  background-color: transparent;
  color: #333;
  border: 1px solid transparent;
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Lucida Sans";
}

button[type="logout"] {
  margin: auto;
  height: 70%;
  background-color: #fff;
  color: #333;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  transition: all 0.3s ease;
  font-family: "Lucida Sans";
}

button[type="logout"]:hover {
  transform: translateY(-3px);
  background-color: rgb(63, 61, 61);
  color: #fff;
}


button[type='footer']:hover {
  transform: translateY(-3px);
  background-color: rgb(63, 61, 61);
  color: #fff;
}



