  #body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  body {
    background-color: #E5F5FE;
  }

  .form {
      width: 100%;
      margin: auto;
      background-color: white;
      border: 2px solid #90CAF9;
      padding: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
      display: block;
      width: 95%;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  button[type="submit"],
  button[type="button"] {
    width: 120px;
    height: 45px;
    border-style: none;
    color: #000;
    transition: all 0.3s ease-in-out;
    flex: 1;
    margin-bottom: 0;
  }

  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: darkgrey;
    color: white;
  }

  #sail {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 180px; /* Set the width to your desired size */
    height: auto;
  }
  
  .message {
    position: absolute;
    margin-top:90px;
    text-align: center;
    padding: 10px;
  }