html {
  height: 100%;
  font-family: "Lucida Sans";
}

#menufooter {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 12%;
  width: 100%;
  background-color: lightblue;
  opacity: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lucida Sans";
  font-size: xx-small;
}

#p1 {
  padding-left: 30px;
  font-family: "Lucida Sans";

}

#p2 {
  padding-right: 30px;
  font-family: "Lucida Sans";
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px); /* 150px is the height of the appbar and footer */
}

#ul {
  list-style: none;
  padding: 0;
}

.li button {
  width: 250px;
  height: 50px;
  background-color: transparent;
  color: #333;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  transition: all 0.3s ease;
  border: 1px solid rgb(63, 61, 61);
  margin-bottom: 3%;
  font-family: "Lucida Sans";
}

.li button:hover {
  transform: translateY(-3px);
  background-color: rgb(63, 61, 61);
  color: #fff;
}

div {
  font-family: "Lucida Sans";
  color: rgb(63, 61, 61)
}

