  #push {
      width: 70%;
      margin: auto;
      background-color: white;
      border: 2px solid #90CAF9;
      padding: 20px;
      padding-top: 0px;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  

  input[type="checkbox"] {
      margin-left: 10px;
  }

  .push-label {
      display: flex;
      align-items: center;
      justify-content: center;
  }

